<h1>&#x1F44D;coin</h1>

<p>How do people call you?</p>

<form action="update" method="post">
  <label for="user_name">Name:</label>
  <%= text_field "user", "name", "size" => 20, "placeholder" => "Your Name" %>
  <%= @user.errors.on('name') %>

  <input type="submit" value="Save">
</form>
