<h2>How do people call you?</h2>

<form action="update" method="post">
  <fieldset>
    <label for="user_name">Name:</label>
    <%= text_field "user", "name", "size" => 20, "placeholder" => "Your Name" %>
    <%= @user.errors.on('name') %>

    <button type="submit">Save</button>
  </fieldset>
</form>
