<p>Prepare to give appreciation to other people!</p>

<form action="find_or_create" method="post">
  <fieldset>
    <label for="user_email">Email:</label>
    <%= text_field "user", "email", "size" => 20, "placeholder" => "josua@example.com" %>
    <%= @user.errors.on('email') %>

    <button type="submit">Start</button>
  </fieldset>
</form>
