<h1><%= @coins.length %> Gifcoins!</h1>
<ul>
  <% @coins.each do |coin| %>
    <li>
      <strong><%= coin.sender.name %> &rarr; <%= coin.receiver.name %></strong>
      <p><%= coin.message %></p>
    </li>
  <% end %>
</ul>
