<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>gifcoins</title>

  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>

  <meta name="description" content="Page description">
  <meta property="og:title" content="Unique page title - My Site">
  <meta property="og:description" content="Page description">
  <meta property="og:image" content="https://www.mywebsite.com/image.jpg">
  <meta property="og:image:alt" content="Image description">
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://www.mywebsite.com/page">
  <link rel="canonical" href="https://www.mywebsite.com/page">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/my.webmanifest">
  <meta name="theme-color" content="#FF00FF">
</head>

<body>
  <section>
    <header>
      <nav>
        <h1>gifcoins</h1>
      </nav>

      <% if current_user %>
        <nav>
          <ul>
            <li><%= link_to 'Give', :controller => 'coin', :action => 'mine' %></li>
            <li><%= link_to 'List', :controller => 'coin', :action => 'list' %></li>
            <li><%= link_to 'Logout', :controller => 'user', :action => 'logout' %></li>
          </ul>
        </nav>
      <% end %>


      <em><%= @flash["notice"] %></em>
    </header>

    <article>
      <%= @content_for_layout %>
    </article>

    <footer>
      <nav>
        <ul>
          <li>Made with <a href="https://github.com/renuo/gifcoins-rails-0.5">Rails 0.5</a></li>
        </ul>
      </nav>
    </footer>
  </section>

  <script src="/assets/js/xy-polyfill.js" nomodule></script>
  <script src="/assets/js/script.js" type="module"></script>
</body>
</html>
